body, p, ul, li, ol, h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	list-style: none outside none;
	list-style-type: none;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	color: #fff;
}

a, a:visited, a:active {
	color: #fff;
	text-decoration: none;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.about-header {
	padding: 10px 0;
}

.card-section {
	position: fixed;
	height: 100%;
	background: #222;
	top: 0;
	left: 0;
	width: 100%;
	display: table;
}

.about-header {
	border-bottom: 1px solid rgba(0,0,0,0.15);
	box-shadow: 0 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 25px;
}

.about-header,
.about-footer,
.container {
	background-image: url(/static/images/header-background.png);
	background-repeat: repeat;
	background-position: 0 0,0 0,0 0;
	background-color: #81A9C2;
}

.container {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.profile-section {
	padding: 10px 0 20px;
	color: #535353;
}

	.profile-section header {
		border-bottom: 1px dashed #535353;
		padding-bottom: 5px;
	}

		.profile-section header h3 {
			font-size: 20px;
			line-height: 24px;
			text-transform: uppercase;
			font-weight: 700;
		}

	.profile-section p {
		padding: 25px 0 10px;
		line-height: 30px;
	}

	.profile-section li {
		list-style-type: circle;
		list-style: circle;
	}

.wrapper {
	max-width: 1040px;
	margin: auto;
	padding: 0 50px;
}

h1, h2 {
	font-family: 'Playfair Display', serif;
	line-height: 52px;
	font-style: italic;
}

h1 {
	font-size: 48px;
	font-weight: 700;
}

h2 {
	font-size: 20px;
	color: #535353;
	font-weight: bold;
}

nav {
	margin-top: 20px;
}

	nav a {
		font-size: 14px;
		line-height: 14px;
		padding: 12px 24px 11px;
		display: inline-block;
		margin: 7px 7px 7px 0;
		text-transform: uppercase;
		border: 1px dashed #fff;
		display: inline-block;
		width: 80px;
		text-align: center;
	}

		nav a:first-child {
			margin-left: 0;
		}

		nav a:hover {
			background: #535353;
			color: #fff;
		}

.card-footer {
	margin-top: 25px;
}

	.card-footer ul {
		margin-bottom: 15px;
	}

.about-footer {
	border-top: 1px solid rgba(0,0,0,0.15);
	padding: 20px 0;
}
