p, ul, li, h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	list-style: none outside none;
	list-style-type: none;
}

html, body {
	height: 100%;
	overflow: hidden;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #1A1B1F;
	color: #EBEFF0;
}

a, a:visited, a:active {
	color: #EBEFF0;
	text-decoration: none;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

section {
	position: fixed;
	height: 100%;
	background: #222;
	top: 0;
	left: 0;
	width: 100%;
	display: table;
}

.container {
	background-image: url(/static/images/header-background.png);
	background-repeat: repeat;
	background-position: 0 0,0 0,0 0;
	background-color: #81A9C2;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.wrapper {
	max-width: 1040px;
	margin: auto;
	padding: 0 50px;
}

h1, h2 {
	font-family: 'Playfair Display', serif;
	line-height: 52px;
	font-style: italic;
}

h1 {
	font-size: 48px;
	font-weight: 700;
}

h2 {
	font-size: 22px;
	color: #535353;
	font-weight: bold;
}

nav {
	margin-top: 35px;
}

	nav a {
		font-size: 14px;
		line-height: 14px;
		padding: 12px 24px 11px;
		display: inline-block;
		margin: 7px;
		text-transform: uppercase;
		border: 1px dashed #fff;
	}

		nav a:hover {
			background: #535353;
			color: #fff;
		}

footer {
	margin-top: 25px;
}

	footer ul {
		margin-bottom: 15px;
	}
